html,
body {
  width: 100%;
  box-sizing: border-box;
  font-family: roboto;
  background: #faf6f6;
  color: rgb(172, 154, 154);
}

/* nav */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 400px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.nav ul {
  display: flex;
  margin-top: 4rem;
  list-style: none;
}

.nav ul li {
  margin-right: 1.2rem;
}

.nav ul li:first-of-type {
  margin-left: 2rem;
}

.list-nav li:last-of-type {
  margin-right: 5rem;
}

/* hero section */
.container {
  top: -100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.container_contents {
  width: 50rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 15rem;
  background: #f5f6f6;
  padding: 0 2rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 2px 1px #f5f6f6;
}

.hero-logo {
  top: -20px;
  left: 50%;
  right: 50%;
  position: absolute;
}

.hero-header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #282c34;
  line-height: 1.2;
}

.hero-header p {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.hero-btn button {
  border: none;
  color: #fff;
  padding: 0.8rem 2.5rem;
  font-family: roboto;
  font-weight: bold;
  letter-spacing: 1.2px;
  border-radius: 2rem;
  background: rgb(14, 119, 96);
  outline: none;
}

.hero-btn-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-btn-img button {
  border: none;
  color: rgb(14, 119, 96);
  padding: 0.8rem 1.6rem;
  font-family: Roboto;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin-right: 1.8rem;
  margin-left: 2.2rem;
  border-radius: 2rem;
  background: #ddd;
  outline: none;
}

.hero-btn-img button:hover {
  color: #979797;
  background: #ddd;
}

.hero-btn-img img {
  display: flex;
  align-items: flex-start;
  border-radius: 2rem;
  margin-left: 0.6rem;
  position: absolute;
  background: rgb(14, 119, 96);
}

/* progress */
.hero-progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15rem;
  background: #f5f6f6;
  border-radius: 0.25rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 2px 1px #f5f6f6;
  overflow: hidden;
}

.hero-progress ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-top: 3rem;
}

.hero-progress li {
  margin-right: 2rem;
  font-weight: 800;
  color: #282c34;
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  min-height: 3rem;
}

.hero-progress p {
  margin-right: 0 1rem 8rem;
  font-weight: 400;
  color: rgb(172, 154, 154);
}

.hero-progress-bar {
  display: flex;
  max-width: 30rem;
  background-color: #ddd;
  margin: 3rem 2rem 5rem;
  border-radius: 10px;
}

#myBar {
  width: 25rem;
  min-height: 0.75rem;
  border-radius: 10px;
  background-color: rgb(39, 153, 125);
  transition: "width 1s ease-in-out";
  outline: none;
}
/* end of progress */

/* about page */

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  line-height: 2;
  letter-spacing: 2.2;
  background: #f5f6f6;
  padding: 0.25rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 2px 1px #f5f6f6;
}

.about-page-header {
  color: #282c34;
  margin: 2rem 0;
}

.about-list {
  min-height: 20rem;
  margin: 1rem 0 1rem;
  padding: 0.1rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(172, 154, 154);
  overflow: hidden;
}

.about-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}

.about-header h3 {
  color: #282c34;
}

.about-header p {
  color: rgb(39, 153, 125);
}

.about-bottom {
  display: flex;
  justify-content: space-between;
}

.about-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-btn h2 {
  color: #282c34;
}
.about-btn p {
  margin-left: 0.5rem;
}

.about-bottom button {
  border: 0;
  color: #fff;
  font-family: roboto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.6rem 0.8rem;
  letter-spacing: 1px;
  border-radius: 2rem;
  background: rgb(14, 119, 96);
}

.about-bottom .mid-btn {
  background: rgb(16, 180, 145);
}

.about-bottom .last-btn {
  background: #979797;
}

/* end of about page */

/* .nav li p {
  margin-right: 2rem;
} */

@media (min-width: 990px) {
  .container {
    top: -50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .container_contents {
    min-width: 25rem;
  }
}

@media (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-height: 400px;
  }

  .nav ul li:first-of-type {
    margin-left: 5rem;
  }

  .list-nav {
    margin-top: 7.5rem;
  }

  .container {
    top: -50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .container_contents {
    width: 25rem;
  }

  .list-nav {
    display: none;
    width: 20px;
    height: 10px;
    display: block;
    border: none;
    padding: 0px;
    margin-bottom: 14rem;
    margin-top: 4.3rem;
    margin-right: 1rem;
    background: linear-gradient(
      to bottom,
      #ddd,
      #ddd 10%,
      #ddd 20%,
      #282c34 40%,
      #ddd 40%,
      #ddd 60%,
      #282c34 60%,
      #282c34 80%,
      #ddd 80%,
      #ddd 100%
    );
  }

  .list-nav li {
    visibilty: hidden;
    position: fixed;
    top: 50px;
    left: -250px;
    width: 200px;
    min-height: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .nav ul li:first-of-type {
    margin-right: 3rem;
  }
}

/* .hero-button button {
  margin-bottom: 1rem;
}

.hero-btn button {
  display: flex;
  justify-content: center;
  padding: 0.7rem 2.5rem;
}

.hero-btn-img button {
  display: flex;
  justify-content: space-between;
  display: none;
}

.hero-btn-img img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: inherit;
  width: 50px;
  min-height: 50px;
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.hero-progress {
  overflow: hidden;
}

.hero-progress ul {
  display: flex;
  flex-direction: column;
}
.hero-progress p {
  margin-top: 1rem;
} */

/* .vertical-line {
  display: block;
  margin: 1px 2px;
  margin-bottom: 1rem;
  min-width: 7rem;
  border-bottom: 1px solid #979797;
} */

/* #myBar {
  width: 12rem;
  min-height: 0.55rem;
}
.about-page {
  display: flex;
  flex-direction: column;
}

.about-list .about-header {
  display: flex;
  flex-direction: column;
} */
