*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  font-family: Commissioner;
  background: #faf6f6;
  color: #a9a9a9; 
  position: relative;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 70px;
  padding: 0 120px;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 30px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin-right: 1.2rem;
}

.list-nav li:last-of-type {
  margin-right: 0;
}

.title {
  /* margin-left: 5rem; */
  font-size: 16px;
  font-weight: 700;
}

.menu {
  display: none;
  width: 20px;
  height: 10px;
  border: none;
  padding: 0px;
  margin-right: 1rem;
  background: linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    #000 20%,
    #000 40%,
    #fff 40%,
    #fff 60%,
    #000 60%,
    #000 80%,
    #fff 80%,
    #fff 100%
  );
}

/* hero container */

.hero-container {
  height: 80vh;
  max-height: 80vh;
  background-image: url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* hero section */
.container {
  top: -100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.container_contents {
  max-width: 50rem;
}

.hero {
  /* max-width: 375px ; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 15rem;
  background: #fff;
  padding: 0 2rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
}

.hero-logo {
  top: -20px;
  left: 50%;
  right: 50%;
  position: absolute;
}

.hero-header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 4rem;
}

.hero-header p {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #a9a9a9;
  margin-top: 1rem;
}

.hero-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.hero-btn button {
  border: none;
  color: #fff;
  padding: 1rem 2.6rem;
  font-family: commissioner;
  font-weight: bold;
  letter-spacing: 1.2px;
  border-radius: 2rem;
  background: #008b8b;
  outline: none;
}

.hero-btn-img {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.hero-btn-img button {
  border: none;
  color: #008b8b;
  padding: 1rem 1.7rem;
  font-family: commissioner;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin-left: 2.2rem;
  border-radius: 2rem;
  background-color: #e6dede;
  outline: none;
  text-align: center;
}

.hero-btn-img button:hover {
  color: #a9a9a9;
  background: #a9a9a9;
}

.hero-btn-img img {
  display: flex;
  align-items: flex-start;
  border-radius: 2rem;
  margin-left: 0.8rem;
  position: absolute;
  background: #008b8b;
}

/* progress */
.hero-progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15rem;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.hero-progress ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-top: 3rem;
}

.hero-progress li {
  margin-right: 3rem;
  margin-bottom: .5rem;
  padding: 1rem;
  font-weight: 700;
  color: #000;
  /* border-width: 4px; */
  border-right: 1px solid #a9a9a9;
}

.hero-progress li:last-child {
  border: none;
}

.hero-progress p {
  margin-right: 0 1rem 8rem;
  font-weight: 400;
  color: #a9a9a9;
}

.hero-progress-bar {
  display: flex;
  max-width: 40rem;
  background-color: #a9a9a9;
  margin: 3rem 2rem 5rem;
  border-radius: 10px;
}

#myBar {
  width: 35rem;
  height: 0.75rem;
  border-radius: 10px;
  background-color: #008b8b;
  transition: "width 1s ease-in-out";
  outline: none;
}
/* end of progress */

/* about page */

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 2;
  letter-spacing: 2.2;
  background-color: #fff;
  padding: 0.25rem 2rem;
  border-radius: 0.25rem;
}

.about-page-header {
  color: #000;
  font-weight: 700;
  margin: 2rem 0;
}

.about-list {
  min-height: 20rem;
  margin: 1rem 0 1rem;
  padding: 0.1rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #a9a9a9;
  overflow: hidden;
}

.about-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  margin: 1rem 0;
}

.about-header h3 {
  color: #000;
  font-weight: bold;
}

.about-header p {
  color: #26d9cd;
}

.about-bottom {
  display: flex;
  justify-content: space-between;
}

.about-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-btn h2 {
  color: #000;
  font-size: 900;
  font-weight: 700;
}

.about-btn p {
  color: #a9a9a9;
  margin-left: 0.5rem;
}

.about-header .dark-gray-title {
  color: #a9a9a9;
}

.aout-header-subtitle {
  color: #95bebe;
}

.about-bottom button {
  border: 0;
  color: #fff;
  font-family: commissioner;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.7rem 1rem;
  letter-spacing: 1px;
  border-radius: 2rem;
  background: #008b8b;
}

.about-bottom .mid-btn {
  background: #008b8b;
}

.about-bottom .last-btn {
  background: #a9a9a9;
}

/* end of about page */

/* .nav li p {
  margin-right: 2rem;
} */

@media (min-width: 990px) {
  .container {
    top: -50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .container_contents {
    min-width: 25rem;
  }
}

@media (max-width: 560px) {
  .nav {
    padding: 0 30px;
  }

  .list-nav {
    display: none;
    /* margin-top: 7.5rem; */
  }

  .menu {
    display: block;
  }

  .container {
    top: -50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .container_contents {
    width: 20rem;
  }

  .list-nav li {
    visibility: hidden;
    position: fixed;
    top: 50px;
    left: -250px;
    width: 200px;
    min-height: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .hero-logo {
    left: 45%;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15rem;
  }

  .hero-header h1 {
    font-size: 1rem;
    align-self: center;
    margin-top: 4rem;
    line-height: 2px;
  }

  .hero-header p {
    font-size: 0.8rem;
  }

  .hero-button {
    display: flex;
    justify-content: space-between;
  }

  .hero-btn button {
    padding: 1rem 1.5rem;
  }

  .hero-button .hero-btn-img button {
    display: none;
  }

  .hero-btn-img {
    justify-content: center;
    margin-right: 3rem;
  }

  .hero-btn-img img {
    align-self: flex-start;
  }

  .hero-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .hero-progress ul {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 0.1rem;

  }

  .hero-progress h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .hero-progress p {
    margin-bottom: 1rem;
  }

  .hero-progress li {
    border: none;
    border-bottom: 2px solid #a9a9a9;
  }

  .hero-progress-bar {
    max-width: 15rem;
  }

  #myBar {
    max-width: 10rem;
    min-height: 0.1rem;
    border-radius: 5rem;
  }

  .about-header {
    display: flex;
    flex-direction: column;
  }

  .about-list-text {
    margin-top: 2rem;
  }

  .about-bottom {
    flex-direction: column;
  }

  .about-btn {
    margin-top: 2rem;
  }

  .about-bottom button {
    justify-content: flex-start;
    padding: 0.6rem 0.7rem;
  }
}

@media (max-width: 375px) {
  .nav {
    padding: 0 30px;
  }

  .container {
    top: -50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container_contents {
    max-width: 20rem;
  }

  .hero-logo {
    left: 45%;
  }

  .hero-header h1 {
    font-size: 0.9rem;
    align-self: center;
    margin-top: 4rem;
    line-height: 2px;
  }

  .hero-header p {
    font-size: 0.6rem;
  }

  .hero-button {
    display: flex;
    justify-content: space-between;
  }

  .hero-btn button {
    padding: 1rem 1.5rem;
  }

  .hero-button .hero-btn-img button {
    display: none;
  }

  .hero-btn-img {
    justify-content: center;
    margin-right: 3rem;
  }

  .hero-btn-img img {
    align-self: flex-start;
  }

  .hero-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .hero-progress ul {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 0.1rem;
  }

  .hero-progress h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .hero-progress p {
    margin-bottom: 1rem;
  }

  .hero-progress li {
    border: none;
    border-bottom: 2px solid #a9a9a9;
  }

  /* .hero-progress:first-of-type{
    border-he: .3rem;
  } */

  .hero-progress-bar {
    max-width: 15rem;
  }

  #myBar {
    width: 10rem;
    height: 0.5rem;
    border-radius: 5rem;
  }

  .about-header {
    display: flex;
    flex-direction: column;
  }

  .about-list-text {
    margin-top: 2rem;
  }

  .about-bottom {
    flex-direction: column;
  }

  .about-btn {
    margin-top: 2rem;
  }

  .about-bottom button {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0.9rem;
  }
}
